{% extends 'base.html' %}
{% load static %}

{% block content %}
    <u1>
        <body><b>{{ recipe.name }} by {{ recipe.author }}</b></body>
        <br><body>Ingredients</body>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} {{ ingredient.ingredient.name }}</li>
        {% empty %}
            <p>No ingredients listed.</p>
        {% endfor %}
        <br><a href="/recipe/{{ recipe.pk }}/add_ingredient">Add Ingredient</a>
        <br><a href="/recipe/{{ recipe.pk }}/add_image">Add Image</a>
        <br><a href="/recipes/list">Back to Recipes List</a>
    </u1>

    {% for image in recipe.image.all %}
    <div>
        <br><img src="{{ image.image.url }}" alt="{{ image.description }}">
    </div>
    {% endfor %}
{% endblock %}